.aside_title {
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-left: solid 10px #7f001b;/*左線*/
    border-bottom: solid 3px #7f001b;/*下線*/
    background-color: #fff;
    margin-top: 0.5em;
}

.aside_title_experience {
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-left: solid 10px #7f001b;/*左線*/
    border-bottom: solid 3px #7f001b;/*下線*/
    background-color: #fff;
    margin-top: 0.5em;
}

.aside_initial::first-letter {
    color: #7f001b;
}

.aside_lists {
    background-color: #ccc;
    border-left: solid 10px #7f001b;
}

.aside_lists li {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.aside_lists li:hover {
    background-color: #2aff60;
}

.aside_item {
    text-decoration: none;
    font-size: 30px;
    color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}